.empty-state {
  height: 75dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 0.8s animation;
}

@keyframes animation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
