.login-container {
  width: 380px;
  border: 1px solid #9898981c;
  border-radius: 10px;
  padding: 50px 10px;
  animation: 1s animation;
}

@keyframes animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
